.banner {
    padding-top: 26%;
    display: flex;
    justify-content: center;
    position: relative;
}
.bannerGrayBox {
    width: 83%;
    padding-top: 18%;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    z-index: 1;
}
.bannerBorderBox {
    width: 78%;
    padding-top: 21%;
    position: absolute;
    top: 30px;
    z-index: 10;
}
.bannerLightGreenBox {
    background-color: #9FEDBD;
}
.bannerLightBrownBox {
    background-color: #f6dbb8;
}
.bannerLightRedBox {
    background-color: #ffdfd2;
}
.bannerLightBlueBox {
    background-color: #c9f6ff;
}
.bannerLightPinkBox {
    background-color: #e6defb;
}
.bannerMainBox {
    width: 76%;
    padding-top: 23%;
    position: absolute;
    top: 40px;
    z-index: 20;
    background-size: contain;
    background-repeat: no-repeat;
}
.goodsBanner {
    background-image: url(../images/goodsBanner.jpg);
}
.citizenBanner {
    background-image: url(../images/citizenBanner.png);
}

.projectsBanner {
    background-image: url(../images/projectsBanner.jpg);
}

.extraProjectsBanner {
    background-image: url(../images/extra.jpg);
}

.extraBanner {
    background-image: url(../images/bazar.jpg);
}
.servicesBanner {
    background-image: url(../images/servicesBanner.jpg);
}
.productsBanner {
    background-image: url(../images/productsBanner.jpg);
}

.extraProductsBanner {
    background-image: url(../images/sell_extra.jpg);
}


@media only screen and (max-width:1200px) {
    .banner {
        padding-top: 27.5%;
    }
    .bannerGrayBox {
        width: 87%;
    }
    .bannerBorderBox {
        width: 82%;
    }
    .bannerMainBox {
        width: 80%;
        padding-top: 25%;
    }
}


@media only screen and (max-width:992px) {
    .banner {
        padding-top: 32%;
    }
    .bannerGrayBox {
        width: 97%;
    }
    .bannerBorderBox {
        width: 92%;
        padding-top: 23%;
    }
    .bannerMainBox {
        width: 90%;
        padding-top: 28%;
    }
}


@media only screen and (max-width:768px) {
    .banner {
        padding-top: 35%;
    }
}


@media only screen and (max-width:480px) {
    .banner {
        padding-top: 37%;
    }
}



