.banner {
    padding-top: 26%;
    display: flex;
    justify-content: center;
    position: relative;
}
.bannerGrayBox {
    width: 83%;
    padding-top: 18%;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    z-index: 1;
}
.bannerBorderBox {
    width: 78%;
    padding-top: 21%;
    position: absolute;
    top: 30px;
    z-index: 10;
}
.bannerLightRedBox {
    background-color: #ffdfd2;
}
.bannerLightBlueBox {
    background-color: #c9f6ff;
}
.bannerLightPinkBox {
    background-color: #e6defb;
}
.bannerMainBox {
    width: 76%;
    padding-top: 23%;
    position: absolute;
    top: 40px;
    z-index: 20;
    background-size: contain;
    background-repeat: no-repeat;
}
.projectsBanner {
    background-image: url(../images/projectsBanner.jpg);
    /*background-color: #f15b47;*/
}
.servicesBanner {
    background-image: url(../images/servicesBanner.jpg);
    /*background-color: rgb(155, 193, 60);*/
}
.productsBanner {
    background-image: url(../images/productsBanner.jpg);
    /*background-color: rgb(51, 163, 220);*/
}


@media only screen and (max-width:1200px) {
    .banner {
        padding-top: 27.5%;
    }
    .bannerGrayBox {
        width: 87%;
    }
    .bannerBorderBox {
        width: 82%;
    }
    .bannerMainBox {
        width: 80%;
        padding-top: 25%;
    }
}


@media only screen and (max-width:992px) {
    .banner {
        padding-top: 32%;
    }
    .bannerGrayBox {
        width: 97%;
    }
    .bannerBorderBox {
        width: 92%;
        padding-top: 23%;
    }
    .bannerMainBox {
        width: 90%;
        padding-top: 28%;
    }
}


@media only screen and (max-width:768px) {
    .banner {
        padding-top: 35%;
    }
}


@media only screen and (max-width:480px) {
    .banner {
        padding-top: 37%;
    }
}



