/*the css of filters*/

.filterBorder {
    margin: 6% 12% 0;
    text-align: center;
    border-right: 35px solid #f37053;
    border-left: 35px solid #f37053;
}
.filterBox {
    display: flex;
    justify-content: center;
    background: #efecea;
    border-right: 35px solid #9fa4a6;
    border-left: 35px solid #9fa4a6;
    font-size: 1.2em;
    font-weight: 600;
}
.filterTag {
    width: 12%;
    padding: 10px 5px;
    border-left: 1px solid #9fa4a6;
    cursor: pointer;
}
.filterTag:hover {
    border-bottom: 2px solid #9fa4a6;
}
.filterTag:last-child {
    border-left: 0;
}
.selectedTag {
    color: #f37053;
    border-bottom: 2px solid #f37053 !important;
}


@media only screen and (max-width:1200px) {
    .filterBorder {
        margin: 6% 10% 0;
    }
    .filterTag {
        width: 14%;
    }
}


@media only screen and (max-width:992px) {
    .filterBorder {
        margin: 6% 5% 0;
        border-right: 30px solid #f37053;
        border-left: 30px solid #f37053;
    }
    .filterBox {
        border-right: 30px solid #9fa4a6;
        border-left: 30px solid #9fa4a6;
    }
    .filterTag {
        width: 16%;
    }
}


@media only screen and (max-width:768px) {
    .filterBorder {
        border-right: 15px solid #f37053;
        border-left: 15px solid #f37053;
    }
    .filterBox {
        font-size: 1em;
        border-right: 15px solid #9fa4a6;
        border-left: 15px solid #9fa4a6;
    }
    .filterTag {
        width: 20%;
    }
}


@media only screen and (max-width:480px) {
    .filterBox {
        font-size: 0.82em;
    }
    .filterBorder {
        margin: 7% 5% 0;
    }
    .filterTag {
        padding: 10px 5px;
    }
}


@media only screen and (max-width:380px) {
    .filterBox {
        font-size: 0.7em;
    }
    .filterBorder {
        margin: 10% 5% 0;
    }
    .filterTag {
        padding: 10px 1px;
    }
}



/*the css of shopping Box*/
.shopBox {
    margin: 0 12% !important;
}

.shopEachRow {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.shopEachRowTitle {
    padding-top: 7.75%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 7% 0;
    /*font-size: 2em;*/
    /*font-weight: 700;*/
}

.week1 {
    background-image: url(../images/week1.jpg);
}

.week2 {
    background-image: url(../images/week2.jpg);
}

.week3 {
    background-image: url(../images/week3.jpg);
}

.week4 {
    background-image: url(../images/week4.jpg);
}

.week5 {
    background-image: url(../images/week5.jpg);
}

.shopOneBox {
    cursor: pointer;
    margin: 0 0 30px;
    float: right !important;
}

.sh_mainBox {
    border: 3px solid #d7d7d7;
    position: relative;
}

.sh_advPic {
    width: 80px;
    height: -webkit-fill-available;
    position: absolute;
    top: -3px;
    left: -3px;
    background-image: url("../images/showAdvertise.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.sh_mainPic {
    padding-top: 100%;
    border-bottom: 2px solid #d7d7d7;
    background-size: contain;
    background-repeat: no-repeat;
}

.sh_descript {
    color: #a4a4a4;
    background-color: #f1f1f1;
    font-size: 1.2em;
    padding: 5px 0;
}

.sh_descriptRow {
    padding: 5px 20px;
}

.sh_title {
    font-weight: 600;
}

.sh_priceBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.priceIcons {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.categoryIcon {
    background-image: url(../images/category.png);
}

.capacityIcon {
    background-image: url(../images/capacity.png);
}

.priceText {
    margin-right: 10px;
}

.sh_ownerBox_finish {
    font-size: 0.85em;
    font-weight: 500;
    height: 35px;
    padding: 5px;
    /*padding: 5px 20px;*/
    color: white;
    background-color: #a1a1a1;
    border-right: 35px solid #f26c4f;
    display: flex;
    align-items: center;
}

.sh_ownerBox {
    font-size: 0.85em;
    font-weight: 500;
    height: 35px;
    padding: 5px;
    /*padding: 5px 20px;*/
    color: white;
    background-color: #a1a1a1;
    border-right: 35px solid #04c582;
    display: flex;
    align-items: center;
}


@media only screen and (max-width:1200px) {
    .shopBox {
        margin: 0 10% !important;
    }
    .sh_ownerBox_finish {
        font-size: 1.15em;
        padding: 5px 5px;
    }
}


@media only screen and (max-width:992px) {
    .shopBox {
        margin: 0 5% !important;
    }
    .sh_ownerBox_finish {
        font-size: 1.2em;
        padding: 5px 20px;
    }
}


@media only screen and (max-width:768px) {
    .sh_ownerBox_finish {
        padding: 5px 15px;
    }
}


@media only screen and (max-width:480px) {
    .shopOneBox {
        width: 100% !important;
    }
}
