.advertiseBannerBox {
    margin: 5% 0;
    /*padding: 0 12%;*/
}
.advertiseBanner {
    width: 100%;
    padding-top: 31%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/advertise1.jpg);
    /*background-image: url(../images/advertise2.jpg);*/
}

.choosePlane {
    margin: 0 !important;
    background-color: #f9f9f9;
    padding: 5% 12%;
    display: flex;
}

.planes {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.planes:hover {
    font-size: 1.5em;
}

.projects {
    background-image: url(../images/projects.png);
    background-position: center;
}

.projects:hover {
    opacity: 0.85;
}

.services {
    background-image: url(../images/services.png);
    background-position: center;
}

.services:hover {
    opacity: 0.85;
}

.products {
    background-image: url(../images/products.png);
    background-position: center;
}

.products:hover {
    opacity: 0.85;
}

.planeText {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 25px;
}

.otherAdvertise {
    padding: 5% 12% 0;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.twoAdvBox {
    display: flex;
    justify-content: space-between;
}

.otherAdv {
    width: 48%;
    padding-top: 31%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.leftAdv {
    background-image: url(../images/leftAdv.jpg);
}
.rightAdv {
    background-image: url(../images/rightAdv.jpg);
}
.horizontalAdv {
    padding-top: 16%;
    margin: 3% 0;
    background-image: url(../images/horizontalAdv.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@media only screen and (max-width:1200px) {
    .choosePlane {
        padding: 5% 10%;
    }
    .planeText {
        font-size: 1.75em;
        top: 15px;
    }
    .otherAdvertise {
        padding: 5% 10% 0;
    }
}


@media only screen and (max-width:992px) {
    .choosePlane {
        padding: 5%;
    }
    .planeText {
        font-size: 1.5em;
    }
    .otherAdvertise {
        padding: 5% 5% 0;
    }
}


@media only screen and (max-width:768px) {
    .choosePlane {
        display: block;
    }

    .planes {
        padding-top: 30.2%;
    }

    .planeText {
        top: 50%;
        padding-right: 50px;
        text-align: right;
        font-size: 2.1em;
    }
    .projects {
        border-top: 7px solid #f8aba6;
        border-bottom: 7px solid #f8aba6;
        background-image: url(../images/projectsBanner2.png);
    }
    .services {
        margin: 20px 0;
        border-top: 7px solid #dee787;
        border-bottom: 7px solid #dee787;
        background-image: url(../images/servicesBanner2.png);
    }
    .products {
        border-top: 7px solid #9ddcf9;
        border-bottom: 7px solid #9ddcf9;
        background-image: url(../images/productsBanner2.png);
    }
}


@media only screen and (max-width:480px) {
    .planeText {
        top: 45%;
        padding-right: 15px;
        text-align: right;
        font-size: 1.25em;
    }
}

