.footer {
    width: 100%;
    padding: 15px 12%;
    margin-top: 5%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}

.footerDescript {
    color: #909090;
}

.footerSlogan {
    text-align: justify;
}

.footerLinksDiv {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.footerLinks {
    display: flex;
    align-items: center;
}

.footerLogo {
    width: 35px;
    height: 35px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.rules {
    background-image: url(../images/rules.png);
}

.contactUs {
    background-image: url(../images/contactUs.png);
}

.FAQ {
    background-image: url(../images/FAQ.png);
}

.footerLogoText {
    margin: 0 5px;
}

.footerLogoText:last-child {
    margin-left: 0;
}

.serajDescript {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.serajLogo {
    width: 50px;
    height: 50px;
    background-image: url(../images/serajLogo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.address {
    width: 300px;
    height: 50px;
    background-image: url(../images/address.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
}


@media only screen and (max-width:1200px) {
    .footer {
        font-size: 0.9em;
        padding: 15px 10%;
    }
}


@media only screen and (max-width:992px) {
    .footer {
        font-size: 0.85em;
        padding: 15px 5%;
    }

    .footerLogo {
        width: 30px;
        height: 30px;
    }

    .serajLogo {
        width: 45px;
        height: 45px;
    }
    .address {
        width: 250px;
        height: 40px;
        margin-left: 5px;
    }
}


@media only screen and (max-width:768px) {
    /*موقتا اینجوره*/
    .serajDescript {
        display: contents;
    }
}
