body{
    font-family: IRANSans;
    direction: rtl;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.blur {
    filter: blur(3px);
}

::placeholder {
    font-family: "B Yekan";
    font-size: 1.3em;
    font-weight: 700;
    color: #cecece;
}

/*the icones*/
.coinIcon {
    background-image: url(../images/coin.png);
}
.starIcon {
    background-image: url(../images/star.png);
}
.statusIcon {
    background-image: url(../images/status.png);
}
.calenderIcon {
    background-image: url(../images/calender.png);
}
.capacityIcon {
    background-image: url(../images/capacity.png);
}

/*the css of modals*/
.modal-footer {
    text-align: left !important;
}
.modal-footer {
    text-align: left !important;
}
.btn-success {
    float: left !important;
}
.modal-header .close {
    float: left;
}
.modal-body > p {
    margin-bottom: 0 !important;
}

/*in Screen*/
@media only screen and (max-width:767px) {
    .screenMode {
        display: none !important;
        width: 0;
        height: 0;
    }

    .phoneMode {
        display: block !important;
    }
}


/*in Phone*/
@media only screen and (min-width: 767px) {
    .phoneMode {
        display: none !important;
        width: 0;
        height: 0;
    }

    .screenMode {
        display: block!important;
    }
}
