
.eachProduct {
    margin: 50px 12% 0 !important;
}
.pr_pics {
    display: flex;
}
.pr_mainPic {
    height: 320px;
    border: 3px solid #acacac;
    width: 74%;
}
.pr_otherPics{
    width: 22%;
    margin-left: 5%;
}
.pr_eachOtherPics{
    height: 70px;
    border: 3px solid #acacac;
    margin: 0 0 13px 0;
}
.pr_eachOtherPics:last-child{
    margin-bottom: 0;
}
.shopBtn{
    color: white;
    box-shadow: 5px 5px 5px;
    border-radius: 7px;
    padding: 15px 30px;
    margin-top: 35px;
    font-size: 1.75em;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.shopDownloadBtn {
    background-color: #68cda5;
    border-bottom: 5px solid #48c291;
}
.shopDownloadBtn:hover {
    background-color: #48c291;
}
.downloadBtn {
    background-color: #ffc20e;
    border-bottom: 5px solid #ff7700;
}
.downloadBtn:hover, .downloadBtn:visited, .downloadBtn:active {
    color: white !important;
    background-color: #ff7700;
    text-decoration: none !important;
}
.doneBtn {
    background-color: #ff5555;
    border-bottom: 5px solid #ff0000;
}
.doneBtn:hover {
    background-color: #ff0000;
    cursor: context-menu;
}
.pr_descript{
    font-size: 1.3em;
    font-weight: 500;
    color: #a4a4a4;
}
.pr_descriptRow{
    min-height: 50px;
    padding: 7px 20px;
    border-bottom: 2px solid #acacac;
}
.pr_descriptRow:nth-child(1), .pr_descriptRow:last-child{
    border-bottom: 0;
}
.pr_iconesBox {
    display: flex;
    align-items: center;
}
.pr_description {
    margin-right: 40px;
    text-align: justify;
}
.pr_title{
    background-color: #f26c4f;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.pr_salesman{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.pr_icons{
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.folderIcon{
    background-image: url(../images/folder.png);
}
.movieIcon{
    background-image: url(../images/movie.png);
}
.pr_advertiseBox {
    margin-top: 50px;
    padding: 0 !important;
    font-size: 1.3em;
    font-weight: 500;
    color: #a4a4a4;
}
.pr_advertise {
    margin-right: 40px;
    text-align: justify;
    border: 2px solid #a4a4a4;
    border-radius: 7px;
    padding: 5px 15px;
}
