/*header of prifile page*/

.profileRightImg {
    position: absolute;
    width: 400px;
    height: 250px;
    right: 12.5%;
}
.profileLeftImg {
    position: absolute;
    width: 450px;
    height: 250px;
    left: 12.5%;
}
.profileImg {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}
.framePng {
    width: 230px;
    height: 230px;
    background-image: url(../images/frame.png);
    top: 0;
    right: 0%;
}
.userPic {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    padding: 15px;
    margin: 13px;
}
.lanternPng {
    width: 150px;
    height: 175px;
    background-image: url(../images/lantern.png);
    bottom: 0;
    left: 0;
}
.bagPng {
    width: 200px;
    height: 185px;
    background-image: url(../images/bag.png);
    bottom: 0;
    right: 0;
    z-index: 1;
}
.binPng {
    width: 290px;
    height: 220px;
    background-image: url(../images/bin.png);
    bottom: 0;
    left: 0;
}


@media only screen and (max-width:1200px) {
    .userPageBodyTopBar {
        padding: 25px 10%;
    }
    .profileRightImg {
        right: 10.5%;
    }
    .profileLeftImg {
        left: 10.5%;
    }
    .lanternPng {
        display: none;
    }


    .mainDivContainerProfilePage {
        margin: 10px 10%;
    }
}


@media only screen and (max-width:992px) {
    .userPageBodyTopBar {
        padding: 25px 5%;
    }
    .profileRightImg {
        right: 5.5%;
    }
    .profileLeftImg {
        left: 5.5%;
    }


    .mainDivContainerProfilePage {
        margin: 10px 5%;
    }
}


@media only screen and (max-width:768px) {
    .userPageBodyTopBar {
        height: 285px;
    }
    .profileRightImg {
        width: 125px;
        height: 225px;
    }
    .profileLeftImg {
        width: 405px;
        height: 225px;
    }
    .framePng {
        display: none;
    }
    .lanternPng {
        width: 125px;
        height: 145px;
        left: unset;
        right: 0;
        display: block;
    }
    .bagPng {
        width: 175px;
        height: 165px;
    }
    .binPng {
        width: 265px;
        height: 202px;
    }
}

/*داریم سایز این اینجا فقط */
@media only screen and (max-width:600px) {
    .profileRightImg {
        display: none;
    }
    .profileLeftImg {
        left: 50%;
        transform: translate(-50%);
    }
}


@media only screen and (max-width:480px) {
    .profileRightImg {
        display: none;
    }
    .profileLeftImg {
        width: 355px;
        left: 50%;
        transform: translate(-50%);
    }
    .bagPng {
        width: 150px;
        height: 145px;
    }
    .binPng {
        width: 240px;
        height: 182px;
    }
}


@media only screen and (max-width:380px) {
    .userPageBodyTopBar {
        height: 265px;
    }
    .profileLeftImg {
        width: 250px;
    }
    .bagPng {
        display: none;
    }
    .binPng {
        width: 245px;
        height: 185px;
    }
}

/*end of header of profile page*/


/*points & medal styles*/
    /*points styles*/
.pr_scoreBodyBox {
    background-color: #feebcd;
    padding: 0 12% !important;
}

.pr_scoreBody {
    /*width: 95%;*/
    margin: 50px auto;
    padding: 10px 0;
    background-image: linear-gradient(to right, #ffcb9d 77%, #ffbb80 77%, #ffbb80) !important;
    position: relative;
    display: flex;
    align-items: center;
}
.pr_scoreBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.pr_scoreRow {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.pr_scoreText {
    width: 11%;
    color: white;
    font-size: 2em;
    font-weight: 800;
}
.pr_scoreIcone {
    width: 8%;
    height: 75px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.healthIcone {
    background-image: url("../images/profilePics/healthy.png");
}
.behaviorIcone {
    background-image: url("../images/profilePics/behavior.png");
}
.thinkIcone {
    background-image: url("../images/profilePics/think.png");
}
.karestonIcone {
    background-image: url("../images/profilePics/kareston.png");
}
.pr_scorePointBox {
    width: 65%;
    height: 75px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/profilePics/pointRow.png");
    position: relative;
}
.pr_scorePoint {
    background-image: linear-gradient(to right, #ffffc3, #ffc438) !important;
    height: 25px;
    position: absolute;
    top: 21px;
    right: 3%;
}

.pr_scoreFieldBox {
    width: 8%;
    height: 75px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pr_scoreHealthyBox {
    background-image: url("../images/profilePics/healthyBox.png");
}
.pr_scoreBehaviorBox {
    background-image: url("../images/profilePics/behaviorBox.png");
}
.pr_scoreThinkBox {
    background-image: url("../images/profilePics/thinkBox.png");
}
.pr_scoreKarestonBox {
    background-image: url("../images/profilePics/karestonBox.png");
}
.pr_scoreNum {
    line-height: 75px;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.pr_arrows {
    width: 75px;
    height: 75px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.leftArrow {
    background-image: url("../images/profilePics/leftArrow.png");
    right: -30px;
}
.rightArrow {
    background-image: url("../images/profilePics/rightArrow.png");
    left: -30px;
}


@media (max-width: 1300px) {
    .pr_scoreBodyBox {
        padding: 0 10% !important;
    }
    .pr_scoreRow {
        width: 92%;
    }
    .pr_scoreText {
        font-size: 1.75em;
    }
    .pr_scoreNum {
        font-size: 1.75em;
    }
}
@media (max-width: 992px) {
    .pr_scoreBodyBox {
        padding: 0 6% !important;
    }
    .pr_scoreText {
        font-size: 1.5em;
    }
    .pr_scoreIcone {
        width: 9%;
    }
    .pr_scorePointBox {
         width: 60%;
     }
    .pr_scoreFieldBox {
        width: 9%;
    }
    .pr_scoreNum {
        font-size: 1.5em;
    }
    .pr_arrows {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 768px) {
    .pr_scoreBodyBox {
        padding: 0 4% !important;
    }

    .pr_scoreRow {
        width: 100%;
    }
    .pr_scoreText {
        font-size: 1.25em;
    }
    .pr_scoreIcone {
        width: 11%;
    }
    .pr_scorePointBox {
        width: 50%;
    }
    .pr_scoreFieldBox {
        width: 11%;
    }
    .pr_scoreNum {
        font-size: 1.25em;
    }
    .pr_arrows {
        width: 45px;
        height: 45px;
    }
    .leftArrow {
        right: -12px;
    }
    .rightArrow {
        left: -12px;
    }
}
@media (max-width: 525px) {
    .pr_scoreBodyBox {
        padding: 0 !important;
    }
    .pr_arrows {
        display: none;
    }
}
@media (max-width: 468px) {

    .pr_scoreText {
        font-size: 1em;
    }
    .pr_scoreIcone {
        width: 12%;
    }
    .pr_scorePointBox {
        width: 45%;
    }
    .pr_scoreFieldBox {
        width: 12%;
    }
    .pr_scoreNum {
        font-size: 1em;
    }
}
    /*end of points styles*/

    /*medals styles*/
.honorsMainDiv {
    position: relative;
    margin: 0 0 30px;
    padding: 0 !important;
}
.honors_headerBox {
    width: 100%;
    height: 75px;
    background-color: #04c582;
    border-radius: 5px;
}
.honors_titleBox {
    position: absolute;
    top: 40px;
    right: 50%;
    margin-right: -30%;
    width: 60%;
    line-height: 60px;
    background-image: linear-gradient(to bottom right, #ffc438, red) !important;
    border-radius: 30px;
    box-shadow: 0 0 20px 5px #ff8900;
    color: white;
    font-size: 1.75em;
    font-weight: 500;
    text-align: center;
}
.honors_picBox {
    min-height: 200px;
    background-color: #f5f5f5;
    margin: -5px 0;
    padding: 60px 0 30px;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}
.honors_pic {
    width: 50%;
    margin: auto;
    padding-top: 48%;
    background-size: contain;
    background-repeat: no-repeat;
}
.honors_picText {
    color: #a1a1a1;
    padding: 10px 20px 0;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}
.honors_footerBox {
    width: 100%;
    height: 20px;
    background-color: #a1a1a1;
    border-radius: 5px;
}


@media only screen and (max-width:1200px) {
    .honors_titleBox {
        font-size: 1.5em;
    }
    .honors_picText {
        font-size: 1.25em;
    }
}


@media only screen and (max-width:992px) {

}


@media only screen and (max-width:480px) {

}


@media only screen and (max-width:380px) {

}
    /*end of medals styles*/
/*end of points & medal styles*/



/*body of profile page*/

.pointDescript {
    padding: 15px 0 0;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

.pointNumber {
    font-size: 2em;
    margin-right: 10px;
}
/*اسمش موقته*/
.userProfileActivitiesDetailsMainDiv {
    padding: 0 30px 0 0 !important;
}

.userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
    /*width: auto;*/
    font-size: 0.75em;
    font-weight: 600;
}

.rightColBoxes {
    float: right;
    padding: 0 0 15px !important;
}


@media only screen and (max-width:1200px) {
    .mainDivContainerProfilePage {
        margin: 10px 10%;
    }
    .pointDescript {
        font-size: 0.9em;
    }
}


@media only screen and (max-width:992px) {
    .mainDivContainerProfilePage {
        margin: 10px 5%;
    }
    .userProfileActivitiesDetailsMainDiv {
        padding: 30px 0 0 !important;
    }
    .medalsMainBox {
        border-bottom: 0;
    }
}


@media only screen and (max-width:480px) {
    .profileDescript {
        width: 100%;
    }
    .medalsMainBox {
        border-bottom: 1.5px solid #c5c5c5;
    }
}


@media only screen and (max-width:380px) {
    .userProfilePostsFiltrationContainer .userProfilePostsFiltration > span {
        margin: 0 5px;
        font-size: 0.5em;
        font-weight: 600;
    }
}

/*end of body of profile page*/
